.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.header__nav {
  gap: 15px;
}
.nav__link {
  color: black;
  text-decoration: none;
  font-size: 24px;
  margin-right: 35px;
  font-weight: 500;
}
.active-link {
  border-bottom: 1.5px solid #000;
}
