.logement__details {
  max-width: 100%;
  margin: 0 auto;
}
.logement__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 15px;
}
.logement__title {
  font-size: 36px;
  font-weight: 400;
  color: #ff6060;
  margin: 0px 0px 7px 0px;
}
.logement__location {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
}
.logement__informations {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.logement__profil {
  display: flex;
  align-items: center;
}
.logement__profil__photo {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
}
.logement__profil__name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}
.logement__profil__rating {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  gap: 28px;
}
.logement__tags {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logement__collapses {
  display: flex;
  gap: 77px;
  margin-bottom: 20px;
}
.logement__collapses .collapse-button {
  width: 100%;
}
.collapse__title {
  font-size: 18px;
  margin-left: 1px;
}
.collapse__desciption {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}
.collapse__equipements {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.collapse__item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipement__item {
  font-size: 17px;
  font-weight: 300;
}
.collapse-content.show {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
}
.collapse__logement__content {
  margin-bottom: -80px;
}

@media (max-width: 390px) {
  .logement__description {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 0px;
  }
  .logement__profil__rating {
    flex-direction: row-reverse;
    align-items: center;
  }
  .logement__profil__photo {
    width: 38px;
  }
  .logement__profil__name {
    font-size: 14px;
  }
  .logement__title {
    font-size: 18px;
    font-weight: 400;
  }
  .logement__location {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .logement__collapses {
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
  }
  .collapse__title {
    font-size: 13px;
  }
  .footer {
    margin-top: 0px;
  }
}
