.rating {
  display: flex;
  color: #ff6060;
  font-size: 13px;
  gap: 14px;
}

@media (max-width: 390px) {
  .rating {
    display: flex;
    color: #ff6060;
    font-size: 18px;
    gap: 7px;
  }
}
